---

---

<div class="ribbon-container">
  <img
    alt="Ribbon"
    class="h-24"
    src="https://lh3.googleusercontent.com/aida-public/AB6AXuCQbxPYTfDNYhc95pQ3Wc8ufRzc7yXOgCrP-YzFnqlJ2E3CdCWs9Jbm3MJw2RabTGbIQKVkUvFtAqUXilJSvLirG_gW_ECFqGxVKNsQ7V9UNhkZVJZ1K2zc05u_c4ZybTr_Lrqdv_sXws6in4r3JDH7789aX_wJIimkcgXkjCky8v0EnU2PgaZuQGJta6QUAx9KQXPfLT7BHt2JrgmzrAkfcbbTViUZ0kSOTuCUPNqLTyqxVQifnwuV3XTZbl8FhmCl9grSlMjoVNzS"
  />
</div>
<div
  class="bg-header_top py-2 px-6 flex justify-end items-center text-white text-[11px] font-bold uppercase tracking-wider border-b border-white/20"
>
  <nav class="flex space-x-4 mr-8">
    <a href="#">Inicio</a>
    <a href="#">Oferta Educativa</a>
    <a href="#">Comunicación</a>
    <a href="#">Transparencia</a>
    <a href="#">Normatividad</a>
    <a href="#">Nosotros</a>
    <a href="#">Radio UTSH</a>
    <a href="#">Contacto</a>
  </nav>
</div>
<header
  class="bg-white border-b-4 border-header_top shadow-sm sticky top-0 z-50"
>
  <div class="max-w-7xl mx-auto px-4 h-20 flex justify-between items-center">
    <div class="flex items-center">
      <img
        alt="UTSH Logo"
        class="h-12 mr-4"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuA0Oj-QCUIPxvySQI4k5M-kOTvsdVfaKB72oe_TRxa2wlXwnPcIauOKyfv5biCbgRWaHQZ3SC-oAkL0hLLlxjCEmOBVe72R1CT_ilMWV6U62sZ7AG175Xh_ggPKXEjmZdR8frRi8aQveB7ktWSINt7wT0rzJlmcVCy3ufD_-PkuD_rgLI3Zv6czQr-Bg-XI5VVfb9b5StJO-AroMVwrok62uf15x_nAohlgLKS0qMnriM-ZPRIO-d2H_Uydt9-Js4zrqbJ1vicyVTid"
      />
      <div>
        <h1 class="text-gray-700 font-bold text-lg leading-tight uppercase">
          Universidad Tecnológica
        </h1>
        <h2 class="text-gray-600 font-semibold text-sm">
          de la Sierra Hidalguense
        </h2>
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <button
        class="bg-secondary text-white px-6 py-2 rounded-full font-bold text-xs uppercase tracking-widest hover:bg-opacity-90"
      >
        Portal Alumnos
      </button>
    </div>
  </div>
</header>
